In [3]:
import pandas as pd
import numpy as np

n_trials = nrows = 10000
n_dice = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
rolls = pd.DataFrame(rolls, columns= ['die_1', 'die_2'])
rolls

      die_1  die_2
0         4      4
1         2      2
2         1      2
3         1      4
4         6      2
...     ...    ...
9995      6      3
9996      2      1
9997      5      1
9998      4      5
9999      1      2

[10000 rows x 2 columns]

In [10]:
rolls['doubles'] = rolls['die_1'] == rolls['die_2']
dbl = rolls[rolls['doubles'] == True]['doubles'].count()

In [12]:
dbl/len(rolls) * 100

16.259999999999998

In [13]:
p_heads = .5
n_flips = 8
n_tests = 10 ** 5
flip = np.random.random((n_flips, n_tests))
heads = flip > p_heads
p = (heads.sum(axis = 0) == 3).mean()
p

0.21997

In [14]:
p = (heads.sum(axis = 0) >= 3).mean()
p

0.85527

In [15]:
p_data = .25
n_boards = 2
n_tests = 10 ** 5
board = np.random.random((n_boards, n_tests))
ds = p_data >= board
prob = (ds.sum(axis = 0) == 2).mean()
prob

0.06227

In [17]:
pop_num = 17
days = 5
n_tests = 10 ** 5
pop_per = np.random.normal(3, 1.5, size = (n_tests, days))
pop_bought = pop_per.sum(axis = 1)
pop_yay = (pop_bought <(pop_num - 1)).mean()
pop_yay

0.61772

In [22]:
m_avg = 178
m_std = 8
f_avg = 170
f_std = 6
m_height = np.random.normal(m_avg, m_std, size = (n_tests, 1))
f_height = np.random.normal(f_avg, f_std, size = (n_tests, 1))
combo = np.concatenate((m_height, f_height), axis = 1)
height_data = pd.DataFrame(combo, columns = ['male', 'female'])
height_data['rand'] = height_data['female'] > height_data['male']

height_data[height_data['rand'] == 1]['rand'].sum()/n_tests

0.21176

In [23]:
error = 1/250
n_students = 50
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

0.81634

In [24]:
error = 1/250
n_students = 100
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

0.66978

In [25]:
error = 1/250
n_students = 150
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

0.54713

In [26]:
error = 1/250
n_students = 400
tests = np.random.random((n_students, n_tests))
error_chance = tests <= error
perc = (error_chance.sum(axis = 0) == 0).mean()
perc

0.1993

In [27]:
food = .7
days = 3
n_days = 4
no_food = np.random.random((n_tests, days))
nfts = no_food > food
nfts_fails = (nfts.sum(axis = 1) == 3).mean()
nfts_fails

0.0264

In [28]:
food_here = np.random.random((n_tests, n_days))
foods = food_here <= food
yay_food = (foods.sum(axis = 1) >= 1).mean()
yay_food

0.99116

In [36]:
n_people = int(23*(22)/2)
bday = 1/365
share = np.random.random((n_tests, n_people))
share_chance = share <= bday
bshare = (share_chance.sum(axis = 1) >= 1).mean()
bshare

0.50052

In [33]:
n_people = int(20*(20-1)/2)
share = np.random.random((n_tests, n_people))
share_chance = share <= bday
bshare =(share_chance.sum(axis = 1) >= 1).mean()
bshare

0.40645

In [32]:
n_people = int(75*(75-1)/2)
share = np.random.random((n_tests, n_people))
share_chance = share <= bday
bshare =(share_chance.sum(axis = 1) >= 1).mean()
bshare

0.99963