In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(1349)

simulations = 10000
n_dice = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], size = (simulations, n_dice))
rolls = pd.DataFrame(rolls)
rolls

      0  1
0     3  2
1     5  3
2     4  4
3     6  2
4     1  1
...  .. ..
9995  2  4
9996  2  2
9997  3  2
9998  3  5
9999  2  2

[10000 rows x 2 columns]

In [56]:
(rolls[0] == rolls[1]).mean()

0.1596

In [65]:
coinflips = np.random.choice(['H','T'], size=(simulations, n_coins))
flips_sim = (coinflips == 'H').sum(axis=1)
flips_sim

array([2, 6, 4, ..., 4, 2, 6])

In [64]:
(flips_sim >= 3).mean()

0.8568

In [67]:
outcomes = ['wd','wd','wd','ds']
n_billboards = 2
billboards = np.random.choice(outcomes, size=(simulations, n_billboards))
billboards

array([['wd', 'wd'],
       ['wd', 'wd'],
       ['ds', 'ds'],
       ...,
       ['wd', 'wd'],
       ['wd', 'wd'],
       ['wd', 'ds']], dtype='<U2')

In [69]:
outcomes = ['wd','ds']
billboards = np.random.choice(outcomes, size=(simulations, n_billboards), p=[.75, .25])
(billboards == 'ds').sum(axis=1)

array([1, 1, 0, ..., 1, 0, 1])

In [70]:
prob = ((billboards == 'ds').sum(axis=1) == 2).mean()
prob

0.0622

In [17]:
pop_num = 17
days = 5
n_tests = 10 ** 5
pop_per = np.random.normal(3, 1.5, size = (n_tests, days))
pop_bought = pop_per.sum(axis = 1)
pop_yay = (pop_bought <(pop_num - 1)).mean()
pop_yay

0.61772

In [78]:
mean = 3
sd = 1.5

n_days = 5
pop_per_day = np.random.normal(mean, sd, size=(simulations, n_days))

poptarts_per_week = pop_per_day.sum(axis=1)
(poptarts_per_week < 17).mean()

0.7241

In [80]:
m_avg = 178
m_std = 8
f_avg = 170
f_std = 6

height_men = np.random.normal(m_avg, m_std, simulations)
height_women = np.random.normal(f_avg, f_std, simulations)

(height_women > height_men).mean()

0.2105

In [87]:
outcomes = ['s','f']
n_students = 50

downloads = np.random.choice(outcomes, size=(simulations, n_students), p=[249/250, 1/250])
(downloads == 's').sum(axis=1)
((downloads == 's').sum(axis=1) == n_students).mean()

0.8179

In [102]:
outcomes = ['s','f']
n_students = 150

downloads = np.random.choice(outcomes, size=(simulations, n_students), p=[249/250, 1/250])
(downloads == 's').sum(axis=1)
((downloads == 's').sum(axis=1) == n_students).mean()

0.553

In [90]:
outcomes = ['s','f']
n_students = 400

downloads = np.random.choice(outcomes, size=(simulations, n_students), p=[249/250, 1/250])
(downloads == 's').sum(axis=1)
((downloads == 's').sum(axis=1) == n_students).mean()

0.2033

In [106]:
n_days = 3
trucks = np.random.choice([0,1], size = (simulations, n_days), p=[0.3,0.7])
(trucks.sum(axis=1) == 0).mean()

(trucks.sum(axis=1) >= 1).mean()

0.9734

In [28]:
food_here = np.random.random((n_tests, n_days))
foods = food_here <= food
yay_food = (foods.sum(axis = 1) >= 1).mean()
yay_food

0.99116

In [114]:
outcomes = range(1, 366)
n_students = 23

birthdays = np.random.choice(outcomes, size=(simulations, n_students))
birthdays = pd.DataFrame(birthdays)

(birthdays.nunique(axis=1) < n_students).mean()

0.507

In [115]:
outcomes = range(1, 366)
n_students = 20

birthdays = np.random.choice(outcomes, size=(simulations, n_students))
birthdays = pd.DataFrame(birthdays)

(birthdays.nunique(axis=1) < n_students).mean()

0.4153

In [116]:
outcomes = range(1, 366)
n_students = 40

birthdays = np.random.choice(outcomes, size=(simulations, n_students))
birthdays = pd.DataFrame(birthdays)

(birthdays.nunique(axis=1) < n_students).mean()

0.8948